rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "kartikks1205@gmail.com");
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /bookings/{bookingId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }
  }
}
